body {
    display: flex;
    flex-direction: column;
    text-align:  center;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: auto;
    height: 100vh;

}

#subtitle {
    position: absolute;
    right: 100px;
    top: 300px;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
}


/* @keyframes bgChange {
    0%   {background-color:antiquewhite;}
  25%  {background-color:rgb(52, 66, 88);}
  50%  {background-color:rgb(167, 114, 65);}
  75%  {background-color:rgb(34, 34, 34);}
  100% {background-color:antiquewhite;}
} */

.container {

    /* background-color: antiquewhite; */
    background-image: url(images/brick_bg3.webp);
    background-color: 0;
    background-repeat: repeat;
    background-size: contain;
    position: relative;
    text-align: center;
    width: 1120px;
    height: 630px;
    /* animation-name: bgChange;
    animation-duration: 10s;
    animation-iteratio  n-count: infinite; */
    
}

@keyframes bounce {
    0% {transform: translateY(0px);}
    100% {transform: translateY(100px);}
}

@keyframes shake {
    /* 0% {transform: rotate(1deg);}
    100% {transform: rotate(0deg);} */
    from {transform: translateX(-10px);, rotate(1deg);}
    to {transform: translateX(0px);, rotate(0deg);}
}

/* @keyframes bounce {
    0% {transform: translateY(0px);}
    16% {transform: translateX(70px);}
    32% {transform: translateX(140px)}
    48% {transform: translateX(210px)}
    64% {transform: translateX(280px)}
    80% {transform: translateX(350px)}
    96% {transform: translateX(420px)}
    100% {transform: translateX(420px)}
    
} */


@keyframes bounce2 {
    0% {transform: translateY(0px);}
    100% {transform: translateY(100px);}
}

.sprite {

    top: 0px;
    position: absolute;
    width: 150;
    height: 450;
    animation-name: bounce;
    animation-duration: 0.1s;
    animation-timing-function: cubic-bezier(0,.57,.46,1.66);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

.sprite2 {
    top: -225px;
    position: absolute;
    width: 150;
    height: 450;
    animation-name: bounce;
    animation-duration: 0.1s;
    animation-timing-function: cubic-bezier(0,.57,.46,1.66);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.shake {
    top: 25px;
    position: absolute;
    width: 250;
    height: 493;
    animation-name: shake;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0,.57,.46,1.66);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.shake2 {
    top: -50px;
    position: absolute;
    width: 220;
    height: 463;
    animation-name: shake;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0,.57,.46,1.66);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


#top-rect {

    position: absolute; 
    width: 100%;
    height: 150px;
    /* background-image: linear-gradient(to bottom, rgb(34, 24, 17), rgb(53, 39, 26)); */
    background-color: 0;
    top: 0;
    animation-name: bbt;
    animation-timing-function: cubic-bezier(.35,.88,.59,1);
    animation-iteration-count: infinite;
    animation-duration: 0.378s;
}

#bot-rect {
    position: absolute;
    width: 100%;
    height: 150px;
    /* background-image: linear-gradient(to top, rgb(34, 24, 17), rgb(53, 39, 26)); */
    background-color: 0;
    bottom: 0;
    animation-name: ttb;
    /* animation-timing-function: cubic-bezier(0,1.04,.3,.74); */
    animation-timing-function: cubic-bezier(.35,.88,.59,1);
    animation-iteration-count: infinite;
    animation-duration: 0.378s;
}

@keyframes ttb {
    0% {transform: translateY(0px);}
    80% {transform: translateY(50px);}
    100% {transform: translateY(0px);}
}

@keyframes bbt {
    0% {transform: translateY(0px);}
    80% {transform: translateY(-50px);}
    100% {transform: translateY(0px);}
}

@keyframes slide {
    0% {transform: translateX(0px);}
    25% {transform: translateX(170px);}
    50% {transform: translateX(450px);}
    75% {transform: translateX(730px);}
    100% {transform: translateX(1010px);}
}

@keyframes slide2 {
    0% {transform: translateX(0px);}
    25% {transform: translateX(140px);}
    50% {transform: translateX(420px);}
    75% {transform: translateX(700px);}
    100% {transform: translateX(980px);}
}

#fourSlide {
    top: 75px;
    left:-140px;
    position: absolute;
    width: 220;
    height: 463;
    animation-name: slide, bounce;
    animation-duration: 1.45s, 0.1s;
    animation-timing-function: step-start, cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-iteration-count: 4, 0;
}

#fsBG {
    position: absolute;
    top: 0;
    left: -140px;
    height: 100%;
    width: 280px;
    /* background-image: linear-gradient(to right, rgb(178, 101, 0), rgb(70, 30, 0)); */
    background-color: 0;
    /* animation-name: slide2;
    animation-duration: 1.5s;
    animation-timing-function: step-start;
    animation-iteration-count: 4; */

}

.casebg {

    height: 100%;
    aspect-ratio: 1.3;
    text-align: center;
    
}